# Database Configuration
DB_USER=postgres
DB_PASSWORD=eletrica_pass
DB_NAME=eletrica_db

# Admin User Configuration
ADMIN_EMAIL=admin@example.com
ADMIN_NAME=Admin
ADMIN_PASSWORD=admin123

# API Configuration
HTTP_ADDR=:8080
